h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c92727;
}

p {
    color: blue;
}

a {
    text-decoration: none;
    color: #612f05;
}

a:hover {
    color: black;
}

